{% extends 'base.html' %}
{% block conteudo %}



    <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/spa1.jpeg" height="760px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/spa3.jpg" height="760x" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/spa8.jpg" height="760x" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br> <br>

    <div class="card" style="width: 18rem; float: left;  margin-left: 5%;">
  <img src="static/spacorpo.jpg" height="315px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cuidado com Seu corpo</h5>
    <p class="card-text">Cuidar do corpo é fundamental para manter a saúde e o bem-estar. Uma rotina de cuidados corporais vai além da estética; ela envolve o cuidado com a saúde física e mental. .</p>
    <a href="#" class="btn btn-primary">Agendamento</a>
  </div>
</div>

  <div class="card" style="width: 18rem; float: left;  margin-left: 5%;">
  <img src="static/spaface.jpg" height="315px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cuide de Seu rosto</h5>
    <p class="card-text">Cuidar do rosto é essencial para manter a pele saudável e radiante. A rotina de cuidados faciais pode ser simples, mas seus benefícios são profundoss.</p>
    <a href="#" class="btn btn-primary">Agendamento</a>
  </div>
</div>



  <div class="card" style="width: 18rem; float: left;  margin-left: 5%;">
  <img src="static/spasaude.jpg" height="315px"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cuide de sua Saúde
    </h5>
Um Spa Saúde é um refúgio dedicado ao bem-estar físico e mental, oferecendo uma variedade de tratamentos que promovem a saúde integral do corpo.</h5>
    <p class="card-text">p>
    <a href="#" class="btn btn-primary">Agendamento</a>
  </div>
</div>

  <div class="card" style="width: 18rem; float: left;  margin-left: 5%;">
  <img src="static/spakids.webp" height="315px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">cuidados com kids</h5>
    <p class="card-text">
Um Spa Kids é uma experiência divertida e relaxante, especialmente criada para crianças, que combina cuidados pessoais com momentos de diversão</p>
    <a href="#" class="btn btn-primary">Agendamento</a>
  </div>
</div>

  <div class="card" style="width: 18rem; float: left;  margin-left: 5%;">
  <img src="static/casal3.jpg" height="315px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dia de Casal</h5>
    <p class="card-text"> Um Spa Casal é uma experiência perfeita para casais que desejam relaxar, se reconectar e desfrutar de momentos de tranquilidade juntos. </p>
    <a href="/cadastro" class="btn btn-primary">Agendamento</a>
  </div>
</div>



{% endblock %}